.btn-toggle {
    position: absolute;
    top: 70px;
    right: 10px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.dark-btn {
    background: #222;
    color: #f1f1f1;
}
